<strong>Sejá Bem Vindo (a) {{ name }}</strong>
<p>Nós da equipe Gympoint estámos extremamente anciosos para comerçarmos os nossos treinamentos</p>
<p>Detalhes da inscrição</p>
<p>
  <strong>CLiente: </strong>{{ name }} <br/>
  <strong>Plano: </strong>{{ title }} <br/>
  <strong>Date de inicio: </strong>{{ start_date }} <br/>
  <strong>Date de término: </strong>{{ end_date }} <br/>
</p>
